@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f2f5;
}

.default-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-control {
  background: #fff url("/assets/inp-shadow.jpg") repeat-x;
  border: 1px solid #dddfe2;
  color: #1d2129;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 16px;
  vertical-align: middle;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 100%;
}

.box-shadow,
.login-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-control ~ label {
  transition: all ease 0.3s;
}
.form-control:focus ~ label,
.form-control.active ~ label {
  color: #1d2129;
  font-size: 12px;
  top: -10px;
  left: 5px;
  transition: all ease 0.3s;
}

/* Reduce opacity of labels without a checked checkbox */
.avatar-item:not(:has(input:checked)) label {
  opacity: 0.5; /* Adjust opacity as needed */
}

.has-avatar-selections:has(input:not(:checked)) label {
  opacity: 1; /* Adjust opacity as needed */
}
.has-avatar-selections label:hover {
  opacity: 1 !important;
}

.avatar-selections svg {
  width: 100%;
  max-width: 100px;
  height: 100%;
}

.avatar svg {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
